/*
* @Author: Bhargav
* @Date:   2019-04-04 12:33:00
* @Last Modified by:   Bhargav
* @Last Modified time: 2019-04-04 12:34:00
*/

img {
    width: 150%;
    padding: center;
}
body {
     margin: 0;
     padding: 0;
     text-align: center;
     font-size: 25px;
     font-family: sans-serif;
     padding: center;
}

h1{
  font-family: 'Alegreya', serif;
  font-size: 40px;
  font-weight: bold;
  color: #3b5998;
  margin-right: 2px;
}

a{
  text-decoration: none;
  color: #2A5DB0;
}

#container{
  width: 100%;
  margin: 0 auto;
  height: 1000px;
  
  
}
#toi{
  background-color: black;

}

#heart{
  color: red;
}

#press img{
  width:180px;
  margin: 5px 5px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
}

#press img:hover {
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
}

#press{
  margin-bottom: 10%;
}


#logo{
  float: left;
  margin-top: 5%;
  margin-left: 9%;
  width: 30%;
  height: 700px;
}

#mypic{
  width: 200px;
  height: 200px;
  border-radius: 100%
}
#social_icon{
  width: 32px;
  margin-left: 10px;
  margin-right: 10px;
}
#social{
  margin-top: 2em;
}


#about-me{

  width: 40%;
  font-size: 25px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  float: right;
  padding-left: 11%;
  margin-right: 10%;
  margin-top: 10%;
  text-align: right;
  font-style: italic;


}

#project img{
  width: 200px;
}
footer{
  font-size: 13px;
  color: black;
  padding: bottom;
}

#four{
  width: 600px;
  margin: 0 auto;
}

.typed-cursor{
   opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  font-size: 2vw;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}


@media only screen and (max-device-width: 1200px) {
  #container{
    width: 100%;


  }

  #logo{
    width: 120%;
  }

  #about{
    width: 90%;
    margin-top: -10%;

  }

  #press{
    
  }

  #four img{
    width: 300px;
  }

  }

